* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #123456;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  background: #ccc;
  padding: 50px 100px;
  gap: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  max-width: 200px;
}

.cep {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
}